{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Add Product</h2> <br><br> <br>
        <div class="col-md-6">       
        <form method="POST">
            {% csrf_token %}
            {{add_product.as_p}}
            <br>
            <button type="submit" class="btn btn-success">save</button>
        </form> <br>
        <a href="{% url 'product_list' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>

{% endblock  %}